* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-hero-image {
    background-image: url(./assets/bg-light.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 50%;
    width: 100%;
    height: 110%;
    position: absolute;
    z-index: -1;
    top: -0.7rem;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);        /*masking*/
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);                /*masking*/
}

#navbar {
    display: flex;
    align-items: center;
    margin: 0px 200px;
    padding: 14px 0px;
    position:fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(12px);
}

nav div img {
    width: 120px;
    cursor: pointer;
    margin-right: 110px;
}

.child-2 {
    margin-left: 54px;
}

nav div a {
    padding: 12px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin: auto 2px;
    padding: 4px 10px;
}

nav div a:hover {
    background-color: #f5f5f50c;
    border-radius: 50px;
}

.child-3 {
    margin-left: 50px;
}

.btn {
    background-color: #f5f5f50c;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    margin: auto 2px;
    padding: 8px 14px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-2 {
    background-color: #f5f5f5;
    color: #08090B;
}

.btn-2:hover {
    background-color: #dddada;
}

#hero-section {
    display: grid;
    justify-content: center;
}

#hero-child-1-link {
    text-decoration: none;
    margin-top: 90px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#hero-child-1{
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 0px 4px;
    background-color: rgba(35, 71, 89, 0.694);
}

#hero-child-1:hover {
    background-color: rgba(53, 107, 135, 0.121);
}

.hero-child-1-new-btn {
    background-color: #149968;
    border: none;
    margin-left: auto;
    padding: 2px 8px;
    border-radius: 60px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}

div a div p {
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 4px 10px;
}

div a div img {
    width: 16px;
}

.intelligent-text {
    color: #fff;
    text-align: center;
    font-size: 56px;
}

.helping-text {
    color: #fff;
    text-align: center;
    font-size: 19px;
}

.helping-text-1 {
    margin-top: 24px;
}

#hero-email-form {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-top: 32px;
    padding: 4px;
    gap: 1.5px;
    max-width: 360px;
    margin-left: 90px;
    backdrop-filter: blur(12px);                                    /* glass*/
    background-color: rgba(255, 255, 255, 0.1);                   /*glass-color*/
    border: 1px solid rgba(255, 255, 255, 0.15);                  /*glass-border*/
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05);        /*glass-border-shadow*/
}

#hero-email-input {
    border: none;
    background-color: #ffffff00;
    padding: 10px;
    padding-right: 76px;
    border-radius: 50px;
}

form input::placeholder {
    color: #fff;
    opacity: 0.5;
    font-size: 16px;
}

#hero-email-start-now-btn {
    background-color: #f5f5f5;
    color: #08090B;
    border: none;
    border-radius: 50px;
    padding: 8px 14px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#hero-email-start-now-btn:hover {
    filter: invert(4%);
}

#bg-top-image-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#bg-top-image {
    border-radius: 20px;
}

#partners-image-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 130px;
}

#partners-image {
    width: 73%;
}

#built-for-the-intelligence-age-text-container {
    text-align: center;
    padding: 48px 32px;
}

#intelligence-age-h1-text {
    font-size: 38px;
    font-weight: 600;
    padding-bottom: 12px;
}

.intelligence-age-p-text {
    font-size: 17px;
    color: #535353;
}

#feature-highlight-section-text-image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 24px;
}

.feature-highlight-container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(184, 184, 184, 0.374);
    border-radius: 20px;
}

.feature-highlight-container-child-1 {
    display: flex;
    flex-direction: column;
    padding: 18px 24px;
    gap: 16px;
}

.feature-highlight-container-child-1 p {
    font-size: 12px;
    color: #118259;
    font-weight: 500;
    letter-spacing: 1px;
}

.feature-highlight-container-child-1 h1 {
    font-size: 24px;
    font-weight: 600;
}

.feature-highlight-container-child-1 pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #525252;
}

.feature-highlight-container-child-2 img {
    width: 480px;
    height: 310px;
    margin: 4px;
}

#feature-highlight-container-big {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(184, 184, 184, 0.374);
    border-radius: 20px;
    margin: 0px 244px 146px 244px;
}

#feature-highlight-container-big-child-1 {
    display: flex;
    flex-direction: column;
    padding: 18px 24px;
    gap: 16px;
}

#feature-highlight-container-big-child-1 p {
    font-size: 12px;
    color: #118259;
    font-weight: 500;
    letter-spacing: 1px;
    padding-top: 38px;
}

#feature-highlight-container-big-child-1 h1 {
    font-size: 24px;
    font-weight: 600;
}

#feature-highlight-container-big-child-1 pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #525252;
}

#feature-highlight-container-big-child-2 img {
    width: 980px;
    height: 431px;
}

#enterprise-feature-section {
    background-color: #dcdbdb35;
    padding: 96px 0px;
    width: 100%;
}

#enterprise-feature-section-big-container {
    margin: 0px 230.5px;
    /* height: 100px; */
}

#enterprise-feature-section-big-container-child-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
}

#enterprise-feature-section-big-container-child-1-1 {
    display: flex;
    flex-direction: column;
    /* padding: 18px 24px; */
    gap: 16px;    
}

#enterprise-feature-section-big-container-child-1-1 p {
    font-size: 12px;
    color: #118259;
    font-weight: 500;
    letter-spacing: 1px;
}

#enterprise-feature-section-big-container-child-1-1 h1 {
    font-size: 38px;
    font-family: 'YourVariableFont', sans-serif;
    font-weight: 610;
    letter-spacing: -0.5px;
}

#enterprise-feature-section-big-container-child-1-1 pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #525252;
}

#enterprise-feature-section-big-container-child-1-2 {
    padding-top: 120px;
    width: 220px;
}

#enterprise-feature-section-big-container-child-1-2 button {
    background-color: #000000;
    color: #fff;
    font-weight: 500;
    border-radius: 50px;
    margin: auto 2px;
    padding: 10.5px 23px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

#enterprise-feature-section-big-container-child-1-2 button:hover {
    background-color: #000000d3;
}

#enterprise-feature-section-big-container-child-2 {
    display: flex;
    gap: 56px;
    margin: 20px 0px;
    padding-bottom: 30px;
}

.enterprise-feature-section-big-container-child-2-children img {
    width: 30px;
}

.enterprise-feature-section-big-container-child-2-children h1 {
    font-size: 20px;
    margin:26px 0px 16px;
    font-weight: 700;
}

.enterprise-feature-section-big-container-child-2-children pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #525252;
}

#customer-story-anthropic img {
    width: 100%;
}

#Make-documentation-text {
    text-align: center;
    font-size: 38px;
    font-weight: 650;
    margin-top: 200px;
}

#join-the-leader-text {
    text-align: center;
    margin-top: 16px;
    font-size: 16.5px;
    color: #202020;
}

#get-started-for-free-btn-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 48px;
    margin-bottom: 60px;
}

#get-started-for-free-btn-container button {
    font-size: 16px;
    padding: 8px 26px;
    border-radius: 50px;
    font-weight: 500;
}

#get-started-btn-1 {
    background-color: #08090B;
    color: #f5f5f5;
    border: none;
}

#get-a-demo-btn-2 {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid rgba(184, 184, 184, 0.374);
}

#get-started-btn-1:hover {
    background-color: #000000d3;
}

#get-a-demo-btn-2:hover {
    border: 2px solid #f5f5f5;
    background-color: rgba(184, 184, 184, 0.374);
}

.pricing-start-building-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 114px;
}

.pricing-start-building-container img {
    width: 55px;
    border: 1px solid rgba(184, 184, 184, 0.374);
    padding: 8px;
    border-radius: 18px;
}

.pricing-start-building-container h3 {
    font-size: 20px;
    margin-top: 32px;
    font-weight: 500;
}

.pricing-start-building-container p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.pricing-start-building-container a {
    text-decoration: none;
    color: #118259;
    font-weight: 500;
}

#pricing-start-building-container-parent {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.horizontal-dividing-rule {
    border: 0.1px solid rgba(90, 90, 90, 0.116);
}

#last-section-container {
    border: 1px solid rgba(90, 90, 90, 0.116);
    width: 69%;
    margin: 0px auto;
}

#logo-social-links-container {
    display: flex;
    justify-content: space-between;
    margin: 64px 32px 24px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.hr-dividing-rule {
    border: 0.1px solid rgba(90, 90, 90, 0.116);
}

#explore-resources-documentation-company-legal-container {
    display: flex;
    padding: 48px 32px 72px;
}

.elemental-childs {
    width: 191px;
}

.elemental-childs h3 {
    font-size: 14px;
    color: #868686;
    font-weight: 500;
    margin-bottom: 12px;
    padding: 6px 12px;
}

.elemental-childs div a {
    font-size: 15px;
    text-decoration: none;
    color: #08090B;
    padding: 6px 12px;
    font-weight: 500;
    margin-right: auto;
}

.elemental-childs div a:hover {
    padding: 6px 12px;
    background-color: #eeeded6f;
    margin-right: auto;
    border-radius: 50px;
}

.elemental-childs div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#enterprise-Grade-security-text-AICPA-img-container {
    display: flex;
    padding: 18px 32px;
}

#enterprise-Grade-security-text-AICPA-img-container p {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #08090B;
    font-weight: 500;
    margin-right: 18px;
}

#enterprise-Grade-security-text-AICPA-img-container img {
    width: 75px;
}

#all-systems-normal-copyright-mode-container {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 96px;
}

#all-systems-normal-container {
    width: 164px;
    background-color: #dbdada6f;
    padding: 4px 12px;
    border-radius: 50px;
}

#all-systems-normal-container a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

#all-systems-normal-copyright-mode-container div p{
    font-size: 14px;
    width: 130px;
    margin-left: -80px;
    padding: 3px 0;
    color: #343434d8;
}

#mode-container {
    background-color: #dbdada6f;
    padding: 3px 4px;
    border-radius: 50px;
}

#mode-container button {
    border: none;
}

#mode-container button:hover {
    background-color: #fff;
    padding-top: 4px;
    border-radius: 50px;
}

#system-mode, #light-mode, #night-mode{
    margin: auto 4px;
    width: 12px;
    filter: opacity(0.5);
}
